body {
  background-color: powderblue;
}
.p-class {
  color: green;
}
#p1-id {
  color: gold;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.p-class {
  color: pink;
}
span {
  color: black;
}
span.purple {
  color: purple;
}