body {
  background-color: powderblue;
}
.p-class {
  color: green;
}
#p1-id {
  color: gold;
}
h1 {
  color: blue;
}
p {
  color: red;
}
.p-class {
  color: pink;
}
span {
  color: black;
}
span.purple {
  color: purple;
}

.bold {
  font-weight: bold;
}

.alert {
  color: red;
}

.card {
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 10%);
  background-color: var(--light);
  padding: 1em;
  margin: 3rem 3rem 1rem 1rem;
}

.card:hover {
  cursor: pointer ;
  background-color: burlywood;
}

.card:active {
  cursor: not-allowed;
  background-color: brown;
}

.bg-silver {
  background-color: silver;
}

.bg-green {
  background-color: green;
}